.bg-image {
    background-image: url('./Assets/Dhaka_Resort.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 0.7;
}

.bg-image2 {
    position: relative;
    height: 100%;
}

.bg-image2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./Assets/Dhaka_Resort.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
}

.bg-image2>* {
    position: relative;
    z-index: 1;
}

.bg-image3 {
    position: relative;
    height: 100%;
}

.bg-image3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./Assets/SP.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.bg-image3>* {
    position: relative;
    z-index: 1;
}

.logo {
    position: absolute;
    transform: translate(1400%, 500%);
}

.button {
    position: absolute;
    transform: translate(340%, 750%);
}

.img-rgblayer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(360deg, #151515 0%, rgba(21, 21, 21, 0) 40%);
    z-index: 10;
}